*.log
.env
composer.phar
.DS_Store
Thumbs.db
/.idea
/.vscode

/.settings
/.buildpath
/.project
.user.ini
/runtime/log/*
.idea
.svn
.htaccess
.travis.yml
runtime/cache/*
runtime/admin/*
runtime/common/*
runtime/index/*
LICENSE.txt
/public/nginx.htaccess
composer.lock
/docker
